<form *ngIf="!authenticated" (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <div class="form-group">
    <label for="email" class="sr-only">Email</label>
    <input type="text" class="form-control" placeholder="Email" required [(ngModel)]="loginModel.email" name="email" #email="ngModel" />
    <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
      Email is required
    </div>
  </div>
  <div class="form-group">
    <label for="content" class="sr-only">Password</label>
    <input type="password" class="form-control" placeholder="Password" required [(ngModel)]="loginModel.password" name="password" #password="ngModel" />
    <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
      Password is required
    </div>
  </div>
  <button type="submit" class="btn btn-default" [disabled]="!loginForm.form.valid">Sign in</button>
</form>

<ol>
  <li *ngIf="authenticated"><a class="header__link" (click)="signOut.emit()" href="#">Sign out</a></li>
  <li><a class="header__link header__link--github" href="https://github.com/r-park/todo-angular2-firebase"></a></li>
  </ol>

<ol class="list-unstyled" *ngIf="authenticated">
  <li>Bruger</li>
  <li><button type="button" class="btn btn-sm btn-default" (click)="gotoNewPost()">New Post</button></li>
  <li><button type="button" class="btn btn-sm btn-danger" (click)="logOut()">Sign out</button></li>
  
</ol>
