<my-app-header [authenticated]="auth.authenticated" (signOut)="signOut()"></my-app-header>

<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">Znow Blog</h1>
    <p class="lead blog-description">Code, is the real reality.</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 blog-main">
      <router-outlet></router-outlet>
    </div>

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
        <p>
          Developer
        </p>
      </div>
      <div class="sidebar-module">
        <h4>Archives</h4>
        <my-archive></my-archive>
      </div>
      <div class="sidebar-module">
        <h4>Elsewhere</h4>
        <ol class="list-unstyled">
          <li><a href="https://github.com/Znow">GitHub</a></li>
          <li><a href="https://twitter.com/daniel_wg">Twitter</a></li>
        </ol>
      </div>
      <div class="sidebar-module">
        <my-login [authenticated]="auth.authenticated"></my-login>
        <h4 *ngIf="auth.authenticated">Admin</h4>
        <!--<my-admin></my-admin>-->
        <ul *ngIf="auth.authenticated" class="list-unstyled">
          <li><a routerLink="/post/new">New post</a></li>
        </ul>
        
      </div>
    </div><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</div><!-- /.container -->

<footer class="blog-footer">
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>
